<% title "New User Signup" %>

<div style="float: left;">
  <%= render 'form' %>
</div>

<div id="user_warning">
  <img src='/images/stop.png' class="imgfloatleft">
  <p>Hold up just a minute. Before you input anything on to any form on Black & Yellow Pages, you should know that we have
  a no-privacy privacy policy. <b>Any information you give us will be displayed to all users</b> (except your password, since even
  we don't know that). It's not that you don't deserve privacy, it's that we don't want to be responsible for safeguarding it, so we won't.</p>
  <p><b>You may want to:</b><br />
  <ul>
    <li>
      Have a separate email address that's only used for your Black & Yellow Pages account.
    </li>
    <li>
      Regularly check that email account to ensure nobody's making changes to your Black & Yellow Pages account.
    </li>
    <li>
      Ensure your Black & Yellow Pages password is a <a target="_blank" href="http://strongpasswordgenerator.com/">strong password</a>
      and not re-used anywhere else.
    </li>
  </ul>
  <p>Now, given all that, if you want to proceed, welcome to Black & Yellow Pages!</p>
</div>
