<div id="listing_explanation", style="float: right; width: 40%;">
  <div class="column_header">
    <h3>This is how your listing will look</h3>
  </div>
  <div class="listing_container">
    <div class="list_agorist">
      <%= link_to current_user.username %>  
    </div>
    <div class="listing">
      <div class="list_name">
        Your Business Name  
      </div>
      <p class="list_text">
        Line 1 goes here.<br />
        Line 2 goes here.
      </p>
      <p class="list_location">
        101 The Strand<br />
        Hermosa Beach, CA (USA) 90254
      </p>
      <div class="list_contact">
        (310) 555-1212
        email@yourdomain.com<br />
        http://yourdomain.com
      </div>      
      <div id="currency_badges">
        <%= image_tag('bitcoin_icon.png') %>
        <%= image_tag('gold_icon.png') %>
        <%= image_tag('silver_icon.png') %>
      </div>
    </div>
  </div>
  <div class="column_header">
    <h3>Hints:</h3>
  </div>
  <p><b>Contact Details:</b> All contact details are optional, but the easier you make it for your customer
  to find you, the better your response will be. If you do not give a location, your specialty will only appear
  in searches that do not specify a locaton.</p>
  <p><b>Tags:</b> Users will search for your listing using  tags. So, make sure to use descriptive tags and
    that your listing is relevant to the tags you provide. Add 'bitcoin', 'gold', and/or 'silver' tags if you accept them
    as payment.</p>
</div>