<% title "Edit Your Listing" %>

<div id="specialty_form" style="float: left; width: 60%;">
  <div class="column_header">
    <h3>Listing details</h3>
  </div>
  <%= render 'form' %>
</div>

<%= render 'listing_explanation' %>