<% title "Search Results" %>

<% if !@specialties.blank? %>
  <table CELLPADDING=20>
    <% @specialties.in_groups_of(2, false) do |specialties| %>
      <tr>
        <% specialties.each do |specialty| %>
        <td>
          <%= render :partial => "listing", :locals => { :specialty => specialty } %>
        </td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% else %>
  No results found. Please try a different search.
<% end %>

<% if !@near_specialties.blank? %>
  <div class="column_header">
    <h2>Other Listings near <%= @location %></h2>
  </div>
  <table CELLPADDING=20>
    <% @near_specialties.in_groups_of(2, false) do |specialties| %>
      <tr>
        <% specialties.each do |specialty| %>
        <td>
          <%= render :partial => "listing", :locals => { :specialty => specialty } %>
        </td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>