<% title "Black & Yellow Pages Advertising Banners" %>

<% content_for :head do %>
  <meta name="description" content="A worldwide directory of agorist goods and services." />
  <meta name="keywords" content="agorist, agorism, counter-economics, underground economy" /> 
<% end %>

<div>
  Contact <%= mail_to 'admin@blackandyellowpages.com', 'admin@blackandyellowpages.com', :encode => :hex %> for promotional opportunities and/or link exchange.
</div>
<p></p>
<table>
  <tr>
    <td>Full Banner (468x60)</td>
    <td><img src='/images/banners/full_banner_directory.png'></td>
    <td><code>&ltimg src="https://blackandyellowpages.com/images/banners/full_banner_directory.png"&gt</code></td>
  </tr>
  <tr>
    <td>Full Banner (468x60)</td>
    <td><img src='/images/banners/full_banner_free_listings.png'></td>
    <td><code>&ltimg src="https://blackandyellowpages.com/images/banners/full_banner_free_listings.png"&gt</code></td>
  </tr>
  <tr>
    <td>Large Rectangle (336x280)</td>
    <td><img src='/images/banners/large_rectangle_attorney.png'></td>
    <td><code>&ltimg src="https://blackandyellowpages.com/images/banners/large_rectangle_attorney.png"&gt</code></td>
  </tr>
  <tr>
    <td>Large Rectangle (336x280)</td>
    <td><img src='/images/banners/large_rectangle_barber.png'></td>
    <td><code>&ltimg src="https://blackandyellowpages.com/images/banners/large_rectangle_barber.png"&gt</code></td>
  </tr>
  <tr>
    <td>Large Rectangle (336x280)</td>
    <td><img src='/images/banners/large_rectangle_coin_dealer.png'></td>
    <td><code>&ltimg src="https://blackandyellowpages.com/images/banners/large_rectangle_coin_dealer.png"&gt</code></td>
  </tr>
  <tr>
    <td>Large Rectangle (336x280)</td>
    <td><img src='/images/banners/large_rectangle_urologist.png'></td>
    <td><code>&ltimg src="https://blackandyellowpages.com/images/banners/large_rectangle_urologist.png"&gt</code></td>
  </tr>
  <tr>
    <td>Rectangle (336x185)</td>
    <td><img src='/images/banners/byp_336_185.png'></td>
    <td><code>&ltimg src="https://blackandyellowpages.com/images/banners/byp_336_185.png"&gt</code></td>
  </tr>
</table>