<% title "Black & Yellow Pages FAQ" %>

<p><b>What is the Black & Yellow Pages privacy policy?</b></p>

<p>None. We do not want the responsibility of safeguarding your privacy. Therefore, any information you give us – including your name, email address, phone numbers, etc – will be prominently displayed on your user page. If you do not want some piece of information to be public, please do not give it to us.</p>

<p><b>How do I receive an invitation to join Black & Yellow Pages?</b></p>

<p>Black & Yellow Pages is centered around the basic function of agorism – creating trusted relationships. Any user can generate invitations, so to receive an invitation you should first establish a business or personal relationship with a current user. Then, it's as simple as asking for an invitation from them.</p>

<p><a name="sponsor"><b>What is the significance of sponsors and sponsorees?</b></a></p>

<p>When Bob invites Alice to join Black & Yellow Pages, Bob is implying his belief that Alice will add value to the listings on Black & Yellow Pages. A user's sponsor, and the users that user has sponsored, are displayed prominently so that you have an opportunity to assess that user's judgment for yourself.</p>

<p><a name="orphan"><b>What is an orphan?</b></a></p>

<p>If a Black & Yellow Pages sponsor decides, for whatever reason, to terminate another user's sponsorship, the user becomes an orphan and the trust links between the two users are severed. Orphans remain full-fledged Black & Yellow Pages users, but they cannot sponsor new users until they have a new sponsor.</p>

<p><b>How do I change sponsors?</b></p>

<p>You must negotiate a mutually-beneficial agreement between your current sponsor, your potential sponsor, and yourself. Then, your current sponsor can orphan your account and the potential sponsor can offer sponsorship from the orphanage.</p>

<p><a name="trust_links"><b>What are trust links?</b></a></p>

<p>Black & Yellow Pages trust links are a one-way declaration of trust. When Bob “trusts” Alice, that does not necessarily mean Alice trusts Bob. So, trust links are a way of guaging how many Black & Yellow Pages users trust a given user, beyond the sponsor/sponsoree relationship.</p>

<p><a name="trust_degrees"><b>What are “degrees of trust”?</b></a></p>

<p>When you view another user's user page, Black & Yellow Pages calculates the number of trust links that must be followed from your account to that user's account and displays that number as “degrees of trust”. For example, if you trust Bob and Bob trusts Alice, your account would be two degrees of trust away from Alice.</p>

<p><b>Why is a user displayed as “infinite degrees of trust” from me?</b></p>

<p>Infinite degrees of trust indicates that there are no chains of trust from your Black & Yellow Pages account to the other user's account. This can happen when a user has been orphaned and the trust links between two sponsorship trees are severed.</p>

<p><b>What listings are appropriate for Black & Yellow Pages?</b></p>

<p>The short answer is that it is up to you. The longer answer is that the purpose of Black & Yellow Pages is to connect willing buyers with willing sellers; what gets bought and sold is none of our business. So, you should probably use discretion when listing your specialties and wait until you have developed a trust relationship with a potential buyer before advertising your full inventory of goods and services through other channels.</p>

<p><b>I have a better idea for...</b></p>

<p>That's not a question, and doesn't belong in the FAQs.</p>

<p><b>How can I help?</b></p>

<p>Now there's a question we love to hear! Black & Yellow Pages was created because we wanted the service, not because we wanted to develop and maintain it. If you are a developer or designer, we can use all the help we can get. The code for Black & Yellow Pages is hosted at github, so please feel free to make your own Black & Yellow Pages, help us improve this one, or completely blow us out of the water with a better application!</p>

<p>If you're looking to make a splash, there is work to be done in trust metrics and web of trust ratings. Ideally, we would like to see multiple user ratings for all our users, and will room to display them all right on each user's page. Readers can make up their own minds about weighting the different trust statistics.</p>