<% title @news_item.title %>

<% content_for :head do %>
  <meta name="description" content="A worldwide directory of agorist goods and services." />
  <meta name="keywords" content="agorist, agorism, counter-economics, underground economy" /> 
<% end %>

<div id="news_item">
  <%= simple_format(@news_item.body) %>
</div>

<div id="more_news_items">
  <div class="column_header">
    <h3>Other News Items</h3>
  </div>
  <% for item in @items %>
    <%= link_to item.title, item %><br />
  <% end %>
</div>